<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
      version="3.1"> 

  <display-name>gof-katas-base-java</display-name>

  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>info.cosmicsand.gofkatas.base.webapp.SampleServlet</servlet-class>
  </servlet>

  <!-- Map URLs to that servlet. -->
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>